crash-reports/
journeymap
logs/
saves/
fonts/
backups/
server-resource-packs/
shaderpacks/
resourcepacks/Bdubs.zip
resourcepacks/HalcyonSky.zip
_disabled/
screenshots/
splash.properties
usercache.json
usernamecache.json
minetweaker.log
*.mp3
*.jar
*.exe
*.lnk
splash.properties
betterfps.txt