crash-reports/
journeymap
logs/
saves/
server-resource-packs/
shaderpacks/
resourcepacks/
_disabled/
screenshots/
usercache.json
usernamecache.json
minetweaker.log
*.mp3
*.jar
*.exe
*.lnk
splash.properties
betterfps.txt